<%= turbo_stream.prepend "topics_list_subject_#{@subject.id}" do %>
  <%= render partial: "topics/topic_card", locals: { topic: @topic } %>
<% end %>

<%= turbo_stream.update "modal", "" %>

<%= turbo_stream.prepend "flash_messages" do %>
  <div class="fixed bottom-5 right-5 bg-green-600 text-white px-6 py-3 rounded-full shadow-2xl z-50 animate-bounce">
    「<%= @topic.name %>」を保存しました！
  </div>
<% end %>