<div class="max-w-4xl mx-auto py-8 px-4">
  <div class="flex justify-between items-center mb-6">
    <h1 class="text-2xl font-bold pr-2"><%= @subject.name %></h1>
    <%= turbo_frame_tag "new_topic_link" do %>
      <%= link_to "＋ 論点を追加", new_subject_topic_path(@subject), 
        data: { turbo_frame: "topic_form_area" },
        class: "bg-blue-600 text-white px-4 py-2 rounded-lg shadow hover:bg-blue-700" %>
    <% end %>
  </div>

  <%= turbo_frame_tag "topic_form_area" %>
  </div>

  <div class="space-y-4">
    <div id="topics_list" class="grid gap-4 mt-6">
        <% @topics.each do |topic| %>
            <%= render partial: "topics/topic_card", locals: { topic: topic } %>
        <% end %>
    </div>
  </div>
</div>